@model StockTradingAnalysis.Web.Models.TransactionViewModel

@{
    ViewBag.Title = Resources.ViewTextTransactionsTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">@Resources.ViewTextWarning</h4>
    <p class="mb-0">@Resources.ViewTextTransactionDeleteInformation</p>
</div>

<div class="display-field" style="float: right">
    
    @Html.DisplayFor(model => model.Image)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.OrderDate)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.OrderDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Units)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Units)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.PricePerUnit)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.PricePerUnit)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.OrderCosts)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.OrderCosts)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Stock)
</div>
<div class="display-field">
    @Html.ActionLink(Model.Stock.StocksShortDescription, "Edit", "Stock", new { id = Model.Stock.Id }, null)
</div>
<div class="display-label">
    @Html.LabelFor(model => model.Tag)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Tag)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.OriginalVersion)
    
    <p>
        <input type="submit" value="@Resources.ViewTextDelete" class= "btn btn-danger" />
        @Html.ActionLink(Resources.ViewTextBack, "Index", null, new {@class = "btn btn-info" })
    </p>
}
