@model StockTradingAnalysis.Web.Models.TransactionSplitViewModel

@{
    ViewBag.Title = Resources.ViewTextSplit;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stocks = (IEnumerable<SelectListItem>)ViewBag.Stocks;
}

@Scripts.Render("~/bundles/validation")

<script type="text/javascript">
    $(function () { $('#Tag').autocomplete({ source: '@Url.Action("GetTags")', minLength: 1 }); });
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="display-left">
        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderDate)
            @Html.ValidationMessageFor(model => model.OrderDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Units)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Units)
            @Html.ValidationMessageFor(model => model.Units)
        </div>

        <div class="editor-label">
            <div class="greenPerf">
                @Html.LabelFor(model => model.PricePerUnit)
            </div>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PricePerUnit)
            @Html.ValidationMessageFor(model => model.PricePerUnit)
        </div>
    </div>

    <div class="display-left" style="padding-left:15px">
        <div class="editor-label">
            @Html.LabelFor(model => model.Stock)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Stock.Id, stocks)
            @Html.ValidationMessageFor(model => model.Stock.Id)
        </div>
    </div>

    <div class="display-clear"></div>

    <p>
        <input type="submit" value="@Resources.ViewTextAdd" />
    </p>
}
<div>
    @Html.ActionLink(Resources.ViewTextBack, "Index")
</div>
