@model StockTradingAnalysis.Web.Models.TransactionSplitViewModel

@{
    ViewBag.Title = Resources.ViewTextSplit;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stocks = (IEnumerable<SelectListItem>)ViewBag.Stocks;
}

<script type="text/javascript">
    $(function () { $('#Tag').autocomplete({ source: '@Url.Action("GetTags")', minLength: 1 }); });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissible alert-warning">
                @Html.DisplayFor(model => model.Action) @Resources.ViewTextTransactions
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.OrderDate)
                    @Html.EditorFor(model => model.OrderDate)
                    @Html.ValidationMessageFor(model => model.OrderDate)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Units)
                    @Html.EditorFor(model => model.Units, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Units)
                </div>

                <div class="form-group greenPerf">
                    @Html.LabelFor(model => model.PricePerUnit)
                    @Html.EditorFor(model => model.PricePerUnit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PricePerUnit)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Stock)
                    @Html.DropDownListFor(model => model.Stock.Id, stocks, new { @class = "custom-select" })
                    @Html.ValidationMessageFor(model => model.Stock.Id)
                </div>
            </div>
        </div>

        <input type="submit" value="@Resources.ViewTextAdd" class="btn btn-success" />
        @Html.ActionLink(Resources.ViewTextBack, "Index", null, new { @class = "btn btn-info" })

    </div>
}
