@model StockTradingAnalysis.Web.Models.QuoteViewModel

@Resources.Display_StockLastestQuote

@if (Model == null)
{
    <p>@Resources.ViewText_StockLastestQuoteNotAvailable</p>
}
else
{
    <table class="table table-hover table-sm table-striped">
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(item => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Date)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(item => item.Open)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Open)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(item => item.Close)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Close)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(item => item.High)
                </td>
                <td>
                    @Html.DisplayFor(item => item.High)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(item => item.Low)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Low)
                </td>
            </tr>
        </tbody>
    </table>
}