@using StockTradingAnalysis.Web.Common.Extensions
@model IEnumerable<StockTradingAnalysis.Web.Models.StockViewModel>

@{
    ViewBag.Title = Resources.ViewTextStockTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Wkn)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Type)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().LongShort)
                    </th>
                    <th scope="col">
                        @Resources.ViewTextAbsProfit
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="clickableRow" href='@Html.PlainLink("Edit", "Stock", new { id = item.Id })'>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wkn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongShort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Performance)
                    </td>
                    <td>
                        @Html.ActionLink(Resources.ViewTextDelete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>