@using StockTradingAnalysis.Web.Common.Extensions
@model IEnumerable<StockTradingAnalysis.Web.Models.CalculationViewModel>

@{
    ViewBag.Title = Resources.ViewTextCalculationTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Wkn)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().IsLong)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Multiplier)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().StrikePrice)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Underlying)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().InitialSl)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().InitialTp)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().Units)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().PricePerUnit)
                    </th>
                    <th>
                        @Html.LabelFor(modelItem => Model.FirstOrDefault().OrderCosts)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="clickableRow" href='@Html.PlainLink("Edit", "Calculation", new {id = item.Id})'>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Wkn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsLong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Multiplier)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StrikePrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Underlying)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InitialSl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InitialTp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Units)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PricePerUnit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderCosts)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.ViewTextCopy, "Copy", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink(Resources.ViewTextDelete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>