@using StockTradingAnalysis.Web.Common.Enumerations
@using StockTradingAnalysis.Web.Common.Formatting
@model Dictionary<string, decimal>

@if (Model != null)
{
    foreach (var absValue in Model)
    {
        var cssClass = ValueFormat.GetCssClass(absValue.Value, StatisticsKPIsFormat.Currency, StatisticsKPIsStyleCalcFormat.Dynamically);
    
        @absValue.Key @string.Format(" {0}", "(")<span class="@cssClass">@string.Format("{0:c}", absValue.Value)</span>@string.Format("{0}", ")")<br />
    }
}