@model StockTradingAnalysis.Models.ViewModelStatistics

<div class="box">
<div class="box-inner">
<table>
<thead>
    <tr>
    <th style="width:110px">@if (string.IsNullOrEmpty(Model.Caption)){@StockTradingAnalysis.Resources.ViewTextPerformanceStatistics}else { @Model.Caption}</th>
    <th><span>@Model.TimeRangeDescription</span></th>
    </tr>
</thead>

<tr>
    <td>@Html.LabelFor(m => Model.TradeAbsolute)</td><td>@Html.DisplayFor(m => Model.TradeAbsolute) <span style="font-size:large">(Ø @Html.DisplayFor(m => Model.TradeAverage),@Html.DisplayFor(m => Model.TradeAveragePercentage))</span></td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.ProfitAbsolute)</td><td>@Html.DisplayFor(m => Model.ProfitAbsolute) (Ø @Html.DisplayFor(m => Model.ProfitAverage),@Html.DisplayFor(m => Model.ProfitAveragePercentage))</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.LossAbsolute)</td><td>@Html.DisplayFor(m => Model.LossAbsolute) (Ø @Html.DisplayFor(m => Model.LossAverage),@Html.DisplayFor(m => Model.LossAveragePercentage))</td>
</tr>
<tr>
    <td>@StockTradingAnalysis.Resources.Display_StatisticsProfitVsLoss</td>
    <td>@Html.DisplayFor(m => Model.PercentageOfProfitTransactions) (@Html.DisplayFor(m => Model.AmountOfProfitTransactions)) / @Html.DisplayFor(m => Model.PercentageOfLossTransactions) (@Html.DisplayFor(m => Model.AmountOfLossTransactions))</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.PayOffRatio)/@Html.LabelFor(m => Model.CRV)</td><td>@Html.DisplayFor(m => Model.PayOffRatioDescription) (@Html.DisplayFor(m => Model.PayOffRatio)) / @Html.DisplayFor(m => Model.CRV)</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.SQN)</td><td>@Html.DisplayFor(m => Model.SQNDescription) (@Html.DisplayFor(m => Model.SQN))</td>
</tr>
<tr>
    <td>@StockTradingAnalysis.Resources.Display_StatisticsHoldingPeriod</td><td>@Html.LabelFor(m => Model.AmountIntradayTrades) (@Html.DisplayFor(m => Model.AmountIntradayTrades)) / @Html.LabelFor(m => Model.AmountPositionTrades) (@Html.DisplayFor(m => Model.AmountPositionTrades))</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.AverageBuyVolume)</td><td>@Html.DisplayFor(m => Model.AverageBuyVolume)</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.FeedbackTop10)</td><td><div style="height: 80px; overflow:hidden">@Html.DisplayFor(m => Model.FeedbackTop10)</div></td>
</tr>
@if (Model.AbsoluteProfitPerTradingType != null)
{
<tr>
    <td>@Html.LabelFor(m => Model.AbsoluteProfitPerTradingType)</td><td><div style="height: 50px; overflow:hidden">@Html.DisplayFor(m => Model.AbsoluteProfitPerTradingType)</div></td>
</tr>
}
@if (Model.AbsoluteProfitPerWeekDay != null)
{
<tr>
    <td>@Html.LabelFor(m => Model.AbsoluteProfitPerWeekDay)</td><td>@Html.DisplayFor(m => Model.AbsoluteProfitPerWeekDay)</td>
</tr>
}
<tr>
    <td>@Html.LabelFor(m => Model.AvgEntryEfficiency)</td><td>@Html.DisplayFor(m => Model.AvgEntryEfficiency)</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.AvgExitEfficiency)</td><td>@Html.DisplayFor(m => Model.AvgExitEfficiency)</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.AvgMAEAbsolute)</td><td>@Html.DisplayFor(m => Model.AvgMAEAbsolute)</td>
</tr>
<tr>
    <td>@Html.LabelFor(m => Model.AvgMFEAbsolute)</td><td>@Html.DisplayFor(m => Model.AvgMFEAbsolute)</td>
</tr>
</table>
</div>
</div>