<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/js")
    @RenderSection("head", false)
</head>
<body>
@{ Html.RenderPartial("Navigation"); }
    
<div class="page">
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
    </div>
</div>
@RenderSection("scripts", false)
</body>
</html>
