<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/validation")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/react")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("/SignalR/hubs")
    @RenderSection("head", false)
</head>
<body>
    @{ Html.RenderPartial("Navigation"); }

<div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="popup"></div>
    <div id="footer">
    </div>
</div>
    @RenderSection("scripts", false)
</body>
</html>
