@model StockTradingAnalysis.Web.Models.FeedbackViewModel

@{
    ViewBag.Title = Resources.ViewTextFeedbackTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.OriginalVersion)
    
    <p>
        <input type="submit" value="@Resources.ViewTextDelete" class= "btn btn-danger btn-sm" />
        @Html.ActionLink(Resources.ViewTextBack, "Index")
    </p>
}
