@using StockTradingAnalysis.Web
@using StockTradingAnalysis.Web.Models
@model IEnumerable<SavingsPlanViewModel>
@{
    ViewBag.Title = Resources.ViewTextDashboardTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    <h4 class="alert-heading">@Resources.ViewTextSavingsPlanNotAvailableTitle</h4>

                    <p>@Resources.ViewTextSavingsPlanNotAvailable</p>
                </div>
            </div>
        </div>
    </div>
}


@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">@string.Format(Resources.ViewTextStatisticsSavingsPlanTitle, item.Tag, item.Date)</h4>

                    @Resources.ViewTextStatisticsSavingsPlanForcast <br />
                    @Resources.ViewTextStatisticsSavingsPlanInformation
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="6"></th>
                        <th colspan="2">@Resources.ViewTextStatisticsTagsMoneyWeighted</th>
                    </tr>
                    <tr>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().Year) * **</th>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumInpayment) ***</th>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumCapital)</th>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumDividends)</th>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumOverallDividends)</th>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumOrderCosts)</th>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().PerformanceActualPeriodPercentage)</th>
                        <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().PerformanceOverallPeriodPercentage) ****</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SavingsPlanPeriodViewModel period in item.Periods)
                    {
                        var highlightedRow = period.IsCurrentYear ? "table-dark" : "";

                        <tr class="@highlightedRow">

                            <td>@Html.DisplayFor(periodItem => period.Year)</td>
                            <td>@Html.DisplayFor(periodItem => period.SumInpayment)</td>
                            <td>@Html.DisplayFor(periodItem => period.SumCapital)</td>
                            <td>@Html.DisplayFor(periodItem => period.SumDividends)</td>
                            <td>@Html.DisplayFor(periodItem => period.SumOverallDividends) (@Html.DisplayFor(periodItem => period.SumOverallDividendsPercentage))</td>
                            <td>@Html.DisplayFor(periodItem => period.SumOrderCosts) (@Html.DisplayFor(periodItem => period.SumOrderCostsPercentage))</td>
                            <td>@Html.DisplayFor(periodItem => period.PerformanceActualPeriodPercentage)</td>
                            <td>@Html.DisplayFor(periodItem => period.PerformanceOverallPeriodPercentage)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
