@using StockTradingAnalysis.Web.Models
@model IEnumerable<TagsViewModel>
@{
    ViewBag.Title = Resources.ViewTextDashboardTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <p>@string.Format(Resources.ViewTextStatisticsTagsTitle, item.Tag, item.Date)</p>
    <div style="float:left">
        <img src="@Url.Action("TagsInpaymentVsOutpayment", "Chart", new { tag = item.Tag })" alt="" style="margin-right:20px" />
    </div>

    <b>@Resources.ViewTextStatisticsTagsForcast</b> <br />
    <b>@Resources.ViewTextStatisticsPersonalDividends</b>
    <table id="table_small">
        <thead>
            <tr>
                <th colspan="6"></th>
                <th colspan="2">@Resources.ViewTextStatisticsTagsMoneyWeighted</th>
                <th colspan="2">@Resources.ViewTextStatisticsTagsTimeWeighted</th>
            </tr>
            <tr>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().Year)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumInpayment)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumCapital)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().Dividends)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().SumOrderCosts)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().PerformanceActualPeriodPercentage)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().PerformanceOverallPeriodPercentage)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().PerformanceActualPeriodPercentageTW)</th>
                <th>@Html.LabelFor(modelItem => item.Periods.FirstOrDefault().PerformanceOverallPeriodPercentageTW)</th>
            </tr>
        </thead>
        <tbody style="text-align:right">
            @foreach (TagPeriodViewModel period in item.Periods)
            {
                <tr>
                    @if (period.IsForecast)
                    {
                        <td>@Html.DisplayFor(periodItem => period.Year)* </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(periodItem => period.Year)</td>
                    }
                    <td>@Html.DisplayFor(periodItem => period.SumInpayment)</td>
                    <td>@Html.DisplayFor(periodItem => period.SumCapital)</td>
                    <td>@Html.DisplayFor(periodItem => period.Dividends) (@Html.DisplayFor(periodItem => period.DividendsPercentage))</td>
                    <td>@Html.DisplayFor(periodItem => period.SumOrderCosts) (@Html.DisplayFor(periodItem => period.SumOrderCostsPercentage))</td>
                    <td>@Html.DisplayFor(periodItem => period.PerformanceActualPeriodPercentage)</td>
                    <td>@Html.DisplayFor(periodItem => period.PerformanceOverallPeriodPercentage)</td>
                    <td>@Html.DisplayFor(periodItem => period.PerformanceActualPeriodPercentageTW)</td>
                    <td>@Html.DisplayFor(periodItem => period.PerformanceOverallPeriodPercentageTW)</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="clear:left"></div>
}
