@model StockTradingAnalysis.Web.Models.StrategyViewModel

@{
    ViewBag.Title = Resources.ViewTextStrategyTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="display-left">
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<div class="display-left" style="padding-left:15px">
    @Html.EditorFor(m => Model.Image)
</div>
<div style="clear: both" />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.OriginalVersion)
    
<p>
    <input type="submit" value="@Resources.ViewTextDelete" class="btn btn-danger" /> |
    @Html.ActionLink(Resources.ViewTextBack, "Index", null, new { @class = "btn btn-info" })
</p>
}
